---
// import HeaderDrawerContent from './HeaderDrawerContent.astro';

import AlifSenseLogo from '~/icons/AlifsenseLogo';
const { blok } = Astro.props;
---

<header id="nav" class="p-nav fixed top-0 z-[4] max-h-screen w-full overflow-x-clip transition-colors duration-500">
  <nav
    aria-label="Primary"
    class="p-header flex items-center justify-center transition-all duration-500 ease-in sm:mt-5"
  >
    <div class="flex items-center rounded-full p-6 sm:min-w-[900px]">
      <div class="px-3">
        <a href="/" rel="prefetch" title="Home" data-home-link>
          <AlifSenseLogo class="alif-logo nlink nav-logo invisible w-[150px] lg:w-[200px]" />
        </a>
      </div>

      <div class="font-nav ml-auto mt-1 hidden shrink flex-row items-center gap-10 font-medium uppercase lg:flex">
        {
          blok.header_menu.map((menu) => (
            <a href={`/${menu.link.cached_url}`} class="nlink invisible hover:text-slate-400">
              {menu.name}
            </a>
          ))
        }
      </div>
    </div>
  </nav>

  <!-- <HeaderDrawerContent /> -->
</header>
