---
const { blok } = Astro.props;
import { storyblokEditable } from '@storyblok/astro';

---

<section
{...storyblokEditable(blok)}
      class="landing-section relative
 flex h-screen flex-col items-center justify-center overflow-hidden overflow-x-hidden sm:pb-40 sm:pt-20 lg:pt-32"
    >
      <div class="flex flex-col items-center">
        <h1
          slot="title"
          class="titill font-nav invisible mb-10 mt-20 max-w-[18ch] px-4 text-center text-5xl/[1.1] font-extrabold md:text-6xl/[1.1] lg:text-7xl/[1.1]"
        >
          {blok.heading}
        </h1>
        <p
          class="titill body text-astro-gray-100 body-large invisible max-w-[100ch] px-2 text-center md:px-8"
          style="text-wrap: balance;"
        >
        {blok.tagline}
        </p>
      </div>
    </section>
